{% extends "base.html" %}

{% block main_content %}
<p>
    <a href="{{ url_for('kit_all') }}">Our kit</a>
</p>
<p>
    Thank you for purchasing from UCC rugby, your order will arrive shortly.
</p>
    <h1>Checkout items</h1>
    
    {% if cart  %}
        <table>
            {% for kit_id in cart %}
                 
            <tr>
                <td>{{ names[kit_id] }}</td>
                <td>{{ cart[kit_id] }}</td>
            </tr>
        
            
        {% endfor %}
    </table>

    
    {% else %}
        <p>Your checkout is empty!</p>
    {% endif %}
    
    

{% endblock %} 