{% extends "base.html" %}

{% block main_content %}
<p>
    <a href="{{ url_for('index') }}">Home</a>
</p>
    <h1>Our kit Catalog</h1>
    <table>
        {% for kit in kit_all %}
            <tr>
                <td>{{ kit["name"] }}</td>
                <td>{{ kit["price"] }}</td>
                <td><img src="{{ url_for ('static', filename=kit['image_name']) }}"></img></td>
                <td><a href="{{ url_for ('kit', kit_id=kit['kit_id']) }}">See details</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %} 